webfont('WorkSans', 'WorkSans-Regular')

font_main()
  font-family 'WorkSans', 'Arial', sans-serif
  color colors_text
  font-weight 800
  font-size 60px
  +media(bigdesktop)
    font-size 80px
  +media(mobile)
    font-size 40px
