<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimal-ui">
  <base href="./">
  {{#compiler.isProduction}}
    <link rel="stylesheet" href="bundle-{{compiler.hash}}.css">
  {{/compiler.isProduction}}
</head>
<body>
  <main id="page" class="page page-{{pageClass}}">
    {{> partial_example.mustache}}
  </main>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>
