body
  background colors_background
  padding 50px
  overflow-x hidden

.page
  font_main()
  font_antialiased()
  vertical-center(absolute)
  left 0
  right 0
  text-align center
  animation_wiggle()